html {
  background-color: #c9b5ab;
  line-height: 1.5;
  font-family: "PT Serif", regular;
}

h1, h2{
  font-family: "PT Sans", bold;
  color: #3f1622;
  font-size: 1.5rem;
}

nav {
  font-size: 1.125rem;
  font-family: "PT Sans", bold;
}
.not-this {
  list-style-type: none;
}

a:hover {
  color: #3f1622;
}

a:link {
  color: #8f2440;
}

img {
  width: 100%;
}

figcaption {
  text-align: center;
  font-style: italic;
}

main p:first-of-type {
  font-weight: bold;
}

blockquote {
  font-size: 1.5rem;
  text-indent: 0.8em;
}

cite {
  text-indent: 0.8em;
  font-size: 0.8rem;
}

ol:not(.not-this) {
  list-style-type: lower-greek;
}
