html {
  background-color: #c9b5ab;
  line-height: 1.5;
  font-family: "PT Serif", regular;
}

h1, h2{
  font-family: "PT Sans", bold;
  color: #3f1622;
  font-size: 1.5rem;
}

nav {
  font-size: 1.125rem;
  font-family: "PT Sans", bold;
}

a:hover {
  color: #3f1622;
}

a:link {
  color: #8f2440;
}

img {
  width: 100%;
}

figcaption {
  text-align: center;
  font-style: italic;
}

main p:first-of-type {
  font-weight: bold;
}
